/* 
    UI Button
*/
.ui-button {
    cursor: pointer;
    border: none;
}

.ui-button:hover {
    transition: .3s;
}

/* 
    UI Button
    Sizes
*/

.ui-button-small {
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 12px;
}

.ui-button-medium {
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 16px;
}

.ui-button-large {
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 18px;
}

/* 
    UI Button
    Main Variants
*/

.ui-button-primary {
    background: var(--accent-primary);
    color: var(--content-constant);
}

.ui-button-primary:hover {
    background: var(--accent-sub-primary);
}

.ui-button-sub-primary {
    background: var(--accent-background);
    color: var(--accent-primary);
}

.ui-button-sub-primary:hover {
    background: var(--accent-border);
}

.ui-button-secondary {
    background: var(--content-background);
    color: var(--content-primary);
}

.ui-button-secondary:hover {
    background: var(--content-border);
}

.ui-button-default {
    background: transparent;
    color: var(--content-primary);
}

.ui-button-default:hover {
    background: var(--content-background);
}

.ui-button-disabled {
    cursor: not-allowed;
    background: var(--content-background);
    color: var(--content-disabled);
}

/* 
    UI Button
    System Variants
*/

.ui-button-destruct-primary {
    background: var(--system-error-primary);
    color: var(--content-constant);
}

.ui-button-destruct-secondary {
    background: var(--system-error-background);
    color: var(--system-error-primary);
}


.ui-button-success-primary {
    background: var(--system-success-primary);
    color: var(--content-constant);
}


.ui-button-success-secondary {
    background: var(--system-success-background);
    color: var(--system-success-primary);
}


.ui-button-warning-primary {
    background: var(--system-warning-primary);
    color: var(--content-constant);
}

.ui-button-warning-secondary {
    background: var(--system-warning-background);
    color: var(--system-warning-primary);
}