.ui-page {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 50px;
}

.ui-page-item {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.ui-page h1 {
    font-size: 1.25rem;
}

.ui-page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: flex-start;
    gap: 25px;
}